body{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container{
    width: 70%;
    margin: auto;
}
.top
{
    display: flex;
    justify-content: space-between;
}
.theme{
    font-size: medium;
    margin-top: 20px;
    height: 30px;
    width: 200px;
    background-color: rgb(12, 12, 12);
    color: aliceblue;
}
.heading{
    background-color: rgb(20, 73, 169);
    color: rgb(249, 248, 246);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: antiquewhite;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-item{
    margin-top: 20px;
    display: flex;
}
button{
    font-size: medium;
    margin-top: 20px;
    height: 30px;
    width: 100px;
    background-color: white;
    color: black;
}
button:hover{
color: aliceblue;
    background-color: rgb(85, 177, 59);
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}
.result{
    height: 00px;
    width: 100%;
    color: #000000 ;
}